@import url('https://fonts.googleapis.com/css?family=Karla');

body{
  font-family: 'Karla', sans-serif;
}

.jumbotronStyling{
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  background: url("images/mainimage.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.jumbotronStyling button{
  width: 200px;
  height: 50px;
  border-radius: 50px;
  background-color: white;
  border: 3px solid rgb(176, 228, 234);
  transition: 1s ease;
}

.jumbotronStyling button:hover{
  transform: scale(1.05);
  box-shadow: 0px 0px 20px 0px black;
}

#logo{
  height: 75px;
  background-position: center;
}

#footerLogo{
  height: 100px;
  margin-bottom: 15px;
}

#navColor{
  color: #4f729b;
  font-weight: bold;
}

#bColor{
  border-color: #4f729b;
}

.newNavbar {
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
  transition: 1s all;
}

#main{
  width: 90%;
  height: 600px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

#leftPanel {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 12px solid rgb(176, 228, 234);
  border-bottom: 12px solid rgb(176, 228, 234);
  border-left: 12px solid rgb(176, 228, 234);
  background-image: url("images/leftcontent.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

#rightPanel{
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#topRight {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 12px solid rgb(176, 228, 234);
  border-left: 12px solid rgb(176, 228, 234);
  border-right: 12px solid rgb(176, 228, 234);
  border-bottom: 6px solid rgb(176, 228, 234);
  background-image: url("images/topright.jpg");
  background-position: center;
  background-size: cover;
  color: white;
}

#bottomRight{
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 6px solid rgb(176, 228, 234);
  border-left: 12px solid rgb(176, 228, 234);
  border-right: 12px solid rgb(176, 228, 234);
  border-bottom: 12px solid rgb(176, 228, 234);
  background-image: url("images/bottomright.jpg");
  background-position: center;
  background-size: cover;
  color: white;
}

#leftPanelContent{
  border: 1px solid white;
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

#leftPanelContent h1{
  margin: 20px;
  background-color: rgba(176, 228, 234, 0.8);
  color: white;
}

#topRightPanelContent{
  border: 1px solid white;
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

#topRightPanelContent h1{
  margin: 20px;
  background-color: rgba(176, 228, 234, 0.8);
  color: white;
}

#bottomRightPanelContent h1{
  margin: 20px;
  background-color: rgba(176, 228, 234, 0.8);
  color: white;
}

#bottomRightPanelContent{
  border: 1px solid white;
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

#bottomRightPanelWords{
  text-align: center;
}

.fas{
  color:rgb(176, 228, 234);
  font-size: 100px;
  padding: 10px;
}

.process{
  text-align: center;
  background-color: #4f729b;
  color: white;
  margin-top: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.processP{
  width: 50%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 100px;
}

#processH1{
  padding-bottom: 50px;
  padding-top: 50px;
}

.featuredProducts{
  text-align: center;
  margin: 50px 0px;
  color: #4f729b;
}

.featuredItems{
  background-color: white;
  height: 400px;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  background-image: url("images/leftcontent.jpg");
  background-position: center;
  background-size: cover;
  transition: 1s ease-out;
}

.featuredItems:hover{
  transform: scale(1.05);
}

#emailContainer{
  width: 475px;
  height: 425px;
  max-width: 580px;
  background-color: rgb(176, 228, 234);
  transform: skewY(-12.5deg);
  margin: 0 auto;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
  flex-direction: column;
}

#emailContainer p {
  color: white;
  text-align: center;
  font-size: 40px;
}

#connect{
  background-color: #4f729b;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

#connect h1{
  margin-top: 30px;
  margin-bottom: 0;
}

#icons li{
  display: inline-block;
  cursor: pointer;
  font-size: 35px;
  padding: 5px;
  transition: 0.5s ease;
  color: rgb(176, 228, 234);
}

#icons li:hover{
    transform: scale(1.2);
}

#icons ul{
  text-align: center;
  margin-top: 20px;
  margin-right: 40px;
  color: #4f729b;
}

#footerButton{
  border: none;
  height: 50px;
  width: 200px;
  border-radius: 50px;
  background-color: #4f729b;
  transition: 0.5s ease;
  color: white;
  font-size: 20px;
}

#footerButton:hover{
  background-color: #4f729b;
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 0px black;
}

@media only screen and (max-width: 600px) {
  #emailContainer{
    transform: skewY(0deg);
    width: 100%;
  }

  .collectionWords{
    font-size: 20px;
  }
}
